@import '../../_common/variables'

.footer
  padding 2rem 1rem 1rem
  padding-bottom calc(env(safe-area-inset-bottom) + 1rem)
  text-align center
  font-size font-size-sm
  color color-text-secondary
  letter-spacing .02rem
  transform scale(.9)
  a
    color color-text-secondary
