@import '../../_common/variables'

.header
  padding 2rem 0
  text-align center
.header
  .title
    margin-right -0.5rem
    font-size font-size-lg
    font-weight 300
    text-transform uppercase
    letter-spacing 1rem
    transform scaleY(.8)

  .menu
    transform scale(.9)
    .menu-item
      display inline-block
      font-size font-size-sm
      color color-text-secondary
    a + a
      margin-left .5rem
