.post-header
  margin-bottom 2rem

.post-title
  margin-bottom: .5rem

.post-meta
  font-size font-size-sm
  color color-text-secondary
  & span + span
    margin-left: .8em

.post-body
  color color-text

.post-footer
  padding-top 1.5rem
  font-size font-size-sm
  slim-border(position: top)

.post-tags
  margin-top 1rem
  .post-tag
    display inline-block
    padding 0 .5rem
    height 2rem
    line-height 2rem
    background-color #f2f2f2
    border-radius 2px
  .post-tag + .post-tag
    margin-left 1rem
    