<div class="head">
  <div class="header">
    <div class="title">
      <a href="<%- url_for('/') %>"></a>ymcai</a>
    </div>
    <div class="menu">
      <a href="<%- url_for('/') %>">
        <span class="menu-item">首页</span>
      </a>
      <a href="<%- url_for('categories') %>">
        <span class="menu-item">分类</span>
      </a>
      <a href="<%- url_for('about') %>">
        <span class="menu-item">关于</span>
      </a>
    </div>
  </div>
</div>