.post-header
  margin-bottom 2rem

.post-title
  margin-bottom: .5rem

.post-meta
  font-size font-size-sm
  color color-text-secondary
  & span + span
    margin-left: .8em

.post-meta-category
  margin-left .5rem

.post-body
  padding-bottom 2rem
  color color-text
  overflow hidden
