// Custom styles.

@media screen and (max-width: 768px) {
  button, a {
    cursor: default;
    outline: none;
  }
}

.in-app {
  .headband, .header, .footer {
    display: none;
  }
  .main {
    padding-bottom: 0;
  }
  .post {
    padding-bottom: 50px;
  }
}

.hidden {
  display: none !important;
}

.no-border {
  border: none !important;
}
