@import './_common/variables'
  
div, span, a
  -webkit-tap-highlight-color transparent

// 加粗
strong
  font-weight 700

// 标题
h1, h2, h3, h4, h5
  margin .8rem 0
  color color-text-title
h2, h3, h4, h5
  letter-spacing .05rem
h1
  font-size font-size-lg
  font-weight 400
  letter-spacing .1rem
h2
  font-size font-size-md
  font-weight 700
h3
  font-size font-size-bs
  font-weight 700
h4
  font-size font-size-sm
  font-weight 700
h5
  font-size font-size-sm
  font-weight 700
  color color-text-secondary

// 段落
p
  margin 1em 0

// 图片
img
  display block
  max-width 100%
  margin 1.5rem auto
  border-radius .3rem
  // TODO: 后续移除文章内 center 引用
  // &.center
  //   display: block
  //   margin: 0 auto
  // &.round
  //   border-radius 4px
.image--has-shadow
  margin-bottom: 1em
  box-shadow .5em .5em 1.5em rgba(0, 0, 0, .3)

// 超链接
a
  text-decoration none
  color color-text
.main-body
  letter-spacing: .02rem;
  p a, li a, .link
    underline-color = mix(#ffffff, color-accent, 70%)
    display inline-block
    vertical-align: top
    padding 0 .1rem
    position relative
    &::after
      display inline-block
      content ''
      width calc(100%)
      height 100%
      background-image linear-gradient(to bottom, #ffffff 58%, underline-color 58%, underline-color 90%, #ffffff 90%, #ffffff)
      position absolute
      top 0
      left 50%
      transform translateX(-50%)
      z-index -1
  li a
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

// 列表
ul, ol
  margin 1em 0
  padding-inline-start 2.5em
  li
    margin-top .2em
    p
      margin 0

// 引言
blockquote
  margin 0
  padding-left .5em
  border-left 5px solid #eaeaea

// 代码
code[class*="language-"], pre[class*="language-"]
  color color-text
code, code[class*="language-"]
  font-family Menlo, Monaco, 'Courier New', monospace
  font-size font-size-xs
  letter-spacing .02rem
pre[class*="language-"]
  border-radius .3rem
code[class*="language-"]
  filter: saturate(.8)
p code
  display inline-block
  padding .3em .4em
  background-color #f5f2f0
  line-height 1
  border-radius .3rem

// 表格
.table-wrap
  box-sizing border-box
  width 100%
  border 1px solid color-border
  overflow-x auto
table
  min-width 100%
  border-collapse collapse
  font-size font-size-sm
  color color-text-secondary
  tr
    border-top 1px solid color-border
  thead tr
    border-top-width 0
  th
    min-width 5rem
    text-align left
  th, td
    padding .5rem
  th + th, td + td
    border-left 1px solid color-border

// 图标
.icon
  line-height 1