container-width = 800px

color-text = #333333
color-secondary-text = #555555
color-link = #1651d9 //darkcyan

font-size-xs = 0.77rem
font-size-sm = 0.875rem
font-size-bs = 1rem
font-size-md = 1.11rem
font-size-lg = 1.22rem
font-size-xl = 1.44rem

space-md = 1rem
space-lg = 2rem