max-width-container = 800px

color-accent = #1651d9

color-text = #333333
color-secondary-text = #8a8a8a
color-meta-text = #b1b1b1
color-link = color-accent
color-link-underline = lighten(color-accent, 85%)

font-size-xs = 0.77rem
font-size-sm = 0.875rem
font-size-bs = 1rem
font-size-md = 1.11rem
font-size-lg = 1.22rem
font-size-xl = 1.44rem

space-sm = 1rem
space-md = 1.5rem
space-lg = 2rem