@import './_common/variables.styl';

html, body
  font-size 18px

body
  margin 0
  color color-text
  font-family PingFang SC, sans-serif

div, span, a
  -webkit-tap-highlight-color transparent

p
  margin 1rem 0

a
  text-decoration none
  color color-text

p a
  color inherit
  font-weight 400
  position relative
  &::after
    display inline-block
    content ''
    width calc(100% + 2px)
    height 9px
    background-color color-link-underline
    position absolute
    left 50%
    bottom 1px
    transform translateX(-50%)
    z-index -1
ul a::after {
  display none
}

ul, ol
  margin 1em 0
  li
    margin-top .5em
    p
      margin 0

h1, h2, h3, h4, h5
  & + p
    margin-top 0

h2, h3, h4, h5
  margin 1em 0 .5em
  font-weight 500

h1
  margin 0 0 .5em
  font-size font-size-xl
  font-weight 400
h2
  font-size font-size-md
h3
  font-size font-size-bs
h4
  font-size font-size-sm
h5
  font-size font-size-sm

img 
  max-width 100%
  &.round
    border-radius 8px
  &.shadow
    margin-bottom: 1em
    box-shadow .5em .5em 1.5em rgba(0, 0, 0, .3)

strong
  font-weight 400

blockquote
  margin 0
  padding-left .5em
  border-left 5px solid #eaeaea

pre
  margin 0

code
  font-family Menlo, Monaco, 'Courier New', monospace

pre > code
  font-size font-size-xs

code.hljs
  padding .5em 1em
  border-radius 5px

.gutter
  width 1.6rem
  min-width 1.6rem
  text-align center
  background-color #f2f2f2

p > code, li > code
  padding .2em .4em
  background-color #f1f1f1
  font-size font-size-xs
  border-radius 3px

.header, .main, .footer
  box-sizing border-box
  max-width max-width-container
  margin 0 auto

.header
  padding space-md
  .site-title 
    img 
      width 4.5rem

.main
  padding space-md space-md space-lg space-md

.footer
  padding space-sm space-md


.footer
  font-size font-size-xs
  color color-secondary-text
  a
    color color-secondary-text

.post-item
  padding 1rem 0 2rem 0
  position relative
  &:first-child
    padding-top 0
  & + .post-item::before
    display inline-block
    content ''
    width 100%
    border-top 1px dashed #000000
    position absolute
    top 0
    left 0
    transform scaleY(.5)
.post-item-title
  color color-text
  h1
    font-size font-size-lg
.post-item-content
  margin-top: 1rem
  a
    color color-text
    &::after
      display none
.post-item-meta
  margin-top 1rem
  font-size 0.8rem
  font-weight 300
  color color-secondary-text


.post-header
  margin-bottom 2rem
  .meta
    font-size font-size-xs
    color color-meta-text
    & span + span
      margin-left: .8em
.post-content
  line-height 1.8
  font-weight 300

.pagination
  & a + span, & span + a
    margin-left 1em
  a
    color color-text

@media screen and (max-width: 768px)
  body
    display flex
    flex-direction column
  .head, .foot
    flex 0 0 auto
  .body
    flex 1 1
  a
    cursor default
  p
    text-align justify
  ul p, ol p
    text-align left
  p > code
    word-break break-all
  h1
    font-size font-size-lg
  .footer
    text-align center
    background-color #f7f7f7
  .post-content
    word-break break-word
    img
      width 100%
      display block
      margin 0 auto
    img.round
      border-radius 0
    img.shadow
      margin-bottom 0
      box-shadow none