// 基础样式
.hidden {
  display: none !important;
}
.no-border {
  border: none !important;
}

// 列表
ul {
  p {
    margin-bottom: 0;
  }
}

// 菜单
.menu-item .badge {
  font-weight: 400;
}
.menu .menu-item .badge {
  text-shadow: none;
}

// 应用内浏览
// .in-app {
//   .headband, .header, .footer {
//     display: none;
//   }
//   .main {
//     padding-bottom: 0;
//   }
//   .post {
//     padding-bottom: 50px;
//   }
// }

// 移除触摸高亮
button, a {
  -webkit-tap-highlight-color: transparent;
}

// 代码
p > code {
  word-break: break-all;
}
code, kbd, samp {
  font-size: .875em;
}

// PC 端
@media (min-width: 992px) {
  // 布局
  .container {
    padding-top: 10px;
  }
  .header-inner, .sidebar-inner, .content-wrap {
    border-radius: 5px;
  }
  // 标题栏
  .site-meta {
    display: none;
  }
  // 头像
  .site-author-image {
    max-width: 88px;
  }
  // 隐藏菜单中冗余的“分类”和“标签”
  .menu {
    .menu-item-tags, .menu-item-categories {
      display: none;
    }
  }
}

// 移动端
// --------------------------------------------------
@media (max-width: 991px) {
  // 个性化导航
  .site-meta {
    padding: 1rem 0;
    background: #fff;
    box-shadow: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
  }
  .headband {
    display: none;
  }
  .site-title {
    display: none;
  }
  .brand { 
    color: #333;
    position: relative;
    z-index: 1;
    &:hover {
      color: #333;
    }
    &::before {
      content: 'ym';
      display: inline-block;
      font-size: 1.125em;
    }
    // &::after {
    //   content: '';
    //   display: inline-block;
    //   height: .6em;
    //   width: 2em;
    //   background: rgba(230, 236, 2, 0.5);
    //   position: absolute;
    //   top: 60%;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   z-index -1;
    // }
  }
  .site-nav-toggle .toggle .toggle-line {
    background: #333;
  }
  // 菜单
  .menu-item .badge {
    font-weight: 400;
  }
  // 标题
  h1 { font-size: 1.375em; } // 22px
  h2 { font-size: 1.25em;  } // 20px
  h3 { font-size: 1.125em; } // 18px
  h4 { font-size: 1em;     } // 16px
  h5 { font-size: .875em;  } // 14px
  // 引文
  blockquote {
    font-size: .875em;
  }
  // 列表
  ul, li {
    p, a {
      font-size: .875em;
    }
  }
  ul {
    padding-inline-start: 2.1em;
  }
  // 回到首页
  .back-to-top {
    cursor: default;
    &:hover {
      color: #fff;
    }
  }
}
@media (max-width: 767px) {
  // 缩小正文左右留白
  .posts-expand {
    margin: 0 10px;
  }
}
