// 基础样式
.hidden {
  display: none !important;
}
.no-border {
  border: none !important;
}

// 代码
p > code {
  word-break: break-all;
}

// 列表
ul {
  p {
    margin-bottom: 0;
  }
}

// 应用内浏览
.in-app {
  .headband, .header, .footer {
    display: none;
  }
  .main {
    padding-bottom: 0;
  }
  .post {
    padding-bottom: 50px;
  }
}

// 移除触摸高亮
button, a {
  -webkit-tap-highlight-color: transparent;
}

// PC 端
@media (min-width: 992px) {
  // 隐藏菜单中冗余的“分类”和“标签”
  .menu {
    .menu-item-tags, .menu-item-categories {
      display: none;
    }
  }
}

// 移动端
@media (max-width: 991px) {
  // 导航栏
  .site-meta {
    padding: 15px 0 18px 0;
  }
  .site-title {
    font-size: 1.125em;
  }
  .menu-item .badge {
    font-weight: 400;
  }
  // 标题
  h1 {
    font-size: 1.375em;
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1.125em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: .875em;
  }
  // 引用
  blockquote {
    font-size: .875em;
  }
  // 列表
  ul {
    padding-inline-start: 2.1em;
    p, a {
      font-size: .875em;
    }
  }
  li {
    p, a {
      font-size: .875em;
    }
  }
}

@media (max-width: 767px) {
  // 缩小左右留白
  .posts-expand {
    margin: 0 10px;
  }
}
