max-width-container = 700px

color-accent = #f0e703

color-text-title = #333333
color-text = #666666
color-text-secondary = #999999
color-border = #dddddd
color-devider = #999999

font-size-sm = 0.85rem
font-size-bs = 1rem
font-size-md = 1.25rem
font-size-lg = 1.5rem
font-size-xl = 1.75rem

space-sm = 1rem
space-md = 1.5rem
space-lg = 2rem
