max-width-container = 700px

color-accent = #ffeb3b // #1651d9

color-text-title = #333333;
color-text = #666666
color-text-secondary = #999999
color-text-tips = #8a8a8a
color-meta-text = #b1b1b1
// color-link = color-accent
color-border = #dddddd
color-devider = #999999

color-link-underline = color-accent

font-size-sm = 0.85rem
font-size-bs = 1rem
font-size-md = 1.25rem
font-size-lg = 1.5rem
font-size-xl = 1.75rem

space-sm = 1rem
space-md = 1.5rem
space-lg = 2rem
