@import '../_common/mixins'

.page-footer
  padding-top 1.5rem
  font-size font-size-sm
  slim-border(position: top)

.page-footer-link + .page-footer-link,
.page-footer-pagination + .page-footer-link
  margin-left 1rem

.page-footer-pagination-slash
  display inline-block
  font-weight 300
  transform scaleY(.7)

@media (max-width: 500px)
  .page-footer-pagination
    display block
    text-align center
  .page-footer-link + .page-footer-link,
  .page-footer-pagination + .page-footer-link
    margin-top .8rem
    margin-left 0
  .page-footer-link
    box-sizing border-box
    display block
    padding .6rem
    text-align center
    background-color #f5f5f5
    border-radius .3rem
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;