@import '../_common/variables'
@import '../_common/mixins'

.post-list
  h1
    margin .2rem 0

.post-list-header
  margin-bottom 1.5rem
  .post-list-title
    padding-left 1rem
    letter-spacing .2rem
    position relative
  .post-list-title:not(.post-list-title--is-tag)
    slim-border(
      position: left,
      width: .3rem,
      length: 65%,
      color: color-accent,
      scale: 1
    )
  .post-list-title--is-tag
    padding-left 1.5rem
    &::before
      display inline-block
      content '#'
      font-size font-size-xl
      font-weight 700
      color color-accent
      position absolute
      top 50%
      left 0
      transform translateY(-50%)

.post-item
  padding 1.5rem 0
  position relative
  display flex
  & + .post-item
    slim-border(position: top, parent-position: null)

.post-item:first-child
  padding-top 0

.post-item-lt
  width 10rem

.post-item-rt
  flex 1 1
  overflow hidden

.post-item-date, .post-item-title
  font-size font-size-md

.post-item-date
  font-weight 300

.post-item-title
  color color-text
  letter-spacing: .1rem

.post-item-excerpt
  font-size font-size-sm
  color: color-text-secondary
  letter-spacing .08rem
  a::after
      display none !important
  code
    margin 0 -0.1em
    transform scale(.9)

@media (max-width: 500px)
  .post-list-header
    .post-list-title
      font-size font-size-md

  .post-item
    flex-direction column
  .post-item-lt
    width 100%
  .post-item-rt
    margin-top -.5rem
  .post-item-date
    font-size font-size-sm
    color color-text-secondary
    transform scale(.8)
    transform-origin left bottom
  .post-item-title
    font-size font-size-bs